In [10]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble, impute
from sklearn_pandas import DataFrameMapper

In [ ]:
impute.SimpleImputer

In [6]:
data=pd.read_csv('mpg_data_example.csv')

In [7]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [8]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [11]:
mapper = DataFrameMapper([
                        (['cylinders','displacement','weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['horsepower'],impute.SimpleImputer()),
                        (['origin'], preprocessing.OneHotEncoder())
                        ])

In [12]:
pipeline_obj = pipeline.Pipeline([
    ('mapper',mapper),
    ("model", ensemble.RandomForestRegressor())
])

In [13]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [14]:
X=['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']
Y=['mpg']

In [43]:
pipeline_obj.fit(data[X],data[Y])

/home/aditya/.local/lib/python3.8/site-packages/sklearn/pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['horsepower'], SimpleImputer()),
                                           (['origin'], OneHotEncoder())])),
                ('model', RandomForestRegressor())])

In [28]:
pipeline_obj.predict(data[X])

array([17.387, 14.71 , 17.17 , 16.29 , 16.904, 14.709, 14.069, 14.16 ,
       13.66 , 14.67 , 14.92 , 14.46 , 15.11 , 14.48 , 23.993, 21.44 ,
       19.21 , 20.876, 26.96 , 26.485, 24.28 , 24.38 , 24.515, 24.58 ,
       20.9  , 10.5  , 11.   , 11.795,  9.81 , 26.98 , 26.125, 24.762,
       25.355, 19.323, 16.929, 17.431, 18.562, 18.26 , 13.9  , 13.59 ,
       14.005, 14.32 , 12.1  , 12.92 , 12.7  , 18.36 , 22.375, 18.66 ,
       18.19 , 23.434, 26.89 , 29.685, 29.145, 31.47 , 33.35 , 27.23 ,
       26.99 , 24.169, 25.82 , 23.58 , 20.691, 22.53 , 13.22 , 13.615,
       14.57 , 13.96 , 16.04 , 11.74 , 12.87 , 12.42 , 13.06 , 20.606,
       14.815, 13.825, 13.525, 14.09 , 19.141, 22.55 , 20.593, 26.18 ,
       22.404, 26.085, 22.877, 27.39 , 26.685, 13.24 , 14.68 , 13.38 ,
       14.   , 14.64 , 12.1  , 13.035, 13.359, 14.165, 12.61 , 12.15 ,
       13.315, 18.281, 16.405, 18.322, 18.335, 22.06 , 26.355, 11.42 ,
       12.19 , 12.74 , 12.52 , 18.39 , 21.39 , 21.69 , 22.93 , 21.89 ,
       20.27 , 21.475, 25.74 , 14.5  , 14.805, 29.31 , 25.07 , 21.24 ,
       20.014, 15.312, 22.925, 20.137, 12.12 , 20.261, 20.406, 19.17 ,
       15.988, 31.24 , 25.574, 31.5  , 24.84 , 16.27 , 16.017, 17.799,
       15.405, 13.21 , 14.09 , 13.89 , 14.075, 27.76 , 27.605, 26.287,
       31.511, 31.625, 27.61 , 25.925, 26.019, 24.174, 25.554, 30.09 ,
       19.274, 17.832, 16.232, 16.53 , 15.135, 15.03 , 15.22 , 14.3  ,
       17.317, 16.092, 15.547, 17.61 , 20.565, 19.734, 14.98 , 28.605,
       23.49 , 19.634, 22.901, 24.057, 26.208, 23.889, 19.006, 28.77 ,
       18.94 , 23.238, 22.253, 21.317, 24.107, 32.486, 26.83 , 25.424,
       24.843, 26.015, 27.28 , 16.885, 15.66 , 16.208, 14.95 , 21.353,
       20.857, 23.108, 21.304, 29.31 , 25.87 , 28.943, 32.526, 19.421,
       18.755, 18.32 , 18.202, 29.342, 32.006, 28.335, 25.833, 20.157,
       13.565, 19.872, 19.267, 17.012, 15.665, 13.875, 13.99 , 13.541,
       31.395, 29.916, 34.287, 25.451, 33.122, 16.714, 16.888, 15.711,
       15.303, 17.993, 20.151, 18.989, 18.084, 15.77 , 15.601, 15.559,
       15.705, 29.832, 24.688, 26.226, 25.178, 30.825, 31.994, 30.373,
       29.665, 21.597, 22.42 , 21.983, 40.789, 35.165, 34.397, 37.96 ,
       35.725, 19.889, 18.932, 19.617, 19.042, 20.234, 20.616, 24.808,
       20.152, 19.739, 20.459, 20.722, 18.753, 18.542, 18.974, 18.027,
       18.705, 17.165, 30.635, 25.806, 26.559, 29.873, 23.468, 23.277,
       23.006, 24.466, 21.255, 17.687, 22.017, 16.962, 31.987, 30.786,
       21.318, 21.786, 23.829, 20.245, 20.591, 17.186, 17.865, 17.285,
       17.776, 16.453, 16.186, 19.933, 17.804, 33.587, 34.225, 35.745,
       28.282, 25.112, 21.16 , 27.424, 21.99 , 34.634, 34.2  , 33.42 ,
       36.657, 27.786, 27.588, 26.214, 31.146, 39.56 , 37.454, 33.336,
       37.002, 27.781, 25.967, 25.012, 20.054, 34.902, 30.267, 31.591,
       35.449, 32.663, 43.775, 26.783, 41.192, 43.466, 40.377, 34.177,
       29.973, 40.932, 38.745, 34.022, 33.074, 28.91 , 28.482, 34.112,
       24.362, 32.492, 28.894, 26.885, 26.206, 24.445, 31.362, 37.954,
       38.451, 36.061, 33.727, 36.565, 36.708, 34.09 , 34.683, 34.775,
       31.519, 33.768, 33.982, 33.924, 32.693, 31.421, 31.254, 27.915,
       28.79 , 26.108, 25.418, 21.395, 24.53 , 21.419, 19.425, 28.437,
       27.943, 32.843, 29.995, 28.93 , 27.098, 24.672, 23.837, 35.595,
       36.027, 32.762, 37.401, 35.278, 35.952, 35.439, 33.524, 36.099,
       33.296, 36.043, 25.247, 32.942, 27.137, 24.382, 30.333, 33.756,
       26.177, 27.173, 42.123, 32.479, 28.317, 29.71 ])

In [29]:
import joblib

In [30]:
joblib.dump(pipeline_obj,'RF_ModelforMPG.pkl')

['RF_ModelforMPG.pkl']

In [31]:
modelReload=joblib.load('RF_ModelforMPG.pkl')

In [32]:
modelReload.predict(data[X])

array([17.387, 14.71 , 17.17 , 16.29 , 16.904, 14.709, 14.069, 14.16 ,
       13.66 , 14.67 , 14.92 , 14.46 , 15.11 , 14.48 , 23.993, 21.44 ,
       19.21 , 20.876, 26.96 , 26.485, 24.28 , 24.38 , 24.515, 24.58 ,
       20.9  , 10.5  , 11.   , 11.795,  9.81 , 26.98 , 26.125, 24.762,
       25.355, 19.323, 16.929, 17.431, 18.562, 18.26 , 13.9  , 13.59 ,
       14.005, 14.32 , 12.1  , 12.92 , 12.7  , 18.36 , 22.375, 18.66 ,
       18.19 , 23.434, 26.89 , 29.685, 29.145, 31.47 , 33.35 , 27.23 ,
       26.99 , 24.169, 25.82 , 23.58 , 20.691, 22.53 , 13.22 , 13.615,
       14.57 , 13.96 , 16.04 , 11.74 , 12.87 , 12.42 , 13.06 , 20.606,
       14.815, 13.825, 13.525, 14.09 , 19.141, 22.55 , 20.593, 26.18 ,
       22.404, 26.085, 22.877, 27.39 , 26.685, 13.24 , 14.68 , 13.38 ,
       14.   , 14.64 , 12.1  , 13.035, 13.359, 14.165, 12.61 , 12.15 ,
       13.315, 18.281, 16.405, 18.322, 18.335, 22.06 , 26.355, 11.42 ,
       12.19 , 12.74 , 12.52 , 18.39 , 21.39 , 21.69 , 22.93 , 21.89 ,
       20.27 , 21.475, 25.74 , 14.5  , 14.805, 29.31 , 25.07 , 21.24 ,
       20.014, 15.312, 22.925, 20.137, 12.12 , 20.261, 20.406, 19.17 ,
       15.988, 31.24 , 25.574, 31.5  , 24.84 , 16.27 , 16.017, 17.799,
       15.405, 13.21 , 14.09 , 13.89 , 14.075, 27.76 , 27.605, 26.287,
       31.511, 31.625, 27.61 , 25.925, 26.019, 24.174, 25.554, 30.09 ,
       19.274, 17.832, 16.232, 16.53 , 15.135, 15.03 , 15.22 , 14.3  ,
       17.317, 16.092, 15.547, 17.61 , 20.565, 19.734, 14.98 , 28.605,
       23.49 , 19.634, 22.901, 24.057, 26.208, 23.889, 19.006, 28.77 ,
       18.94 , 23.238, 22.253, 21.317, 24.107, 32.486, 26.83 , 25.424,
       24.843, 26.015, 27.28 , 16.885, 15.66 , 16.208, 14.95 , 21.353,
       20.857, 23.108, 21.304, 29.31 , 25.87 , 28.943, 32.526, 19.421,
       18.755, 18.32 , 18.202, 29.342, 32.006, 28.335, 25.833, 20.157,
       13.565, 19.872, 19.267, 17.012, 15.665, 13.875, 13.99 , 13.541,
       31.395, 29.916, 34.287, 25.451, 33.122, 16.714, 16.888, 15.711,
       15.303, 17.993, 20.151, 18.989, 18.084, 15.77 , 15.601, 15.559,
       15.705, 29.832, 24.688, 26.226, 25.178, 30.825, 31.994, 30.373,
       29.665, 21.597, 22.42 , 21.983, 40.789, 35.165, 34.397, 37.96 ,
       35.725, 19.889, 18.932, 19.617, 19.042, 20.234, 20.616, 24.808,
       20.152, 19.739, 20.459, 20.722, 18.753, 18.542, 18.974, 18.027,
       18.705, 17.165, 30.635, 25.806, 26.559, 29.873, 23.468, 23.277,
       23.006, 24.466, 21.255, 17.687, 22.017, 16.962, 31.987, 30.786,
       21.318, 21.786, 23.829, 20.245, 20.591, 17.186, 17.865, 17.285,
       17.776, 16.453, 16.186, 19.933, 17.804, 33.587, 34.225, 35.745,
       28.282, 25.112, 21.16 , 27.424, 21.99 , 34.634, 34.2  , 33.42 ,
       36.657, 27.786, 27.588, 26.214, 31.146, 39.56 , 37.454, 33.336,
       37.002, 27.781, 25.967, 25.012, 20.054, 34.902, 30.267, 31.591,
       35.449, 32.663, 43.775, 26.783, 41.192, 43.466, 40.377, 34.177,
       29.973, 40.932, 38.745, 34.022, 33.074, 28.91 , 28.482, 34.112,
       24.362, 32.492, 28.894, 26.885, 26.206, 24.445, 31.362, 37.954,
       38.451, 36.061, 33.727, 36.565, 36.708, 34.09 , 34.683, 34.775,
       31.519, 33.768, 33.982, 33.924, 32.693, 31.421, 31.254, 27.915,
       28.79 , 26.108, 25.418, 21.395, 24.53 , 21.419, 19.425, 28.437,
       27.943, 32.843, 29.995, 28.93 , 27.098, 24.672, 23.837, 35.595,
       36.027, 32.762, 37.401, 35.278, 35.952, 35.439, 33.524, 36.099,
       33.296, 36.043, 25.247, 32.942, 27.137, 24.382, 30.333, 33.756,
       26.177, 27.173, 42.123, 32.479, 28.317, 29.71 ])

In [45]:
temp={}
temp['cylinders']=8
temp['displacement']=307
temp['horsepower']=130
temp['weight']=4504
temp['acceleration']=112
temp['model year']=70
temp['origin']=1

In [46]:
temp

{'cylinders': 8,
 'displacement': 307,
 'horsepower': 130,
 'weight': 4504,
 'acceleration': 112,
 'model year': 70,
 'origin': 1}

In [34]:
testDtaa=pd.DataFrame({'x':temp}).transpose()

In [35]:
testDtaa

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,112,8,307,130,70,1,4504

In [36]:
modelReload.predict(testDtaa)[0]

12.744000000000002

In [37]:
testDtaa.dtypes

acceleration    int64
cylinders       int64
displacement    int64
horsepower      int64
model year      int64
origin          int64
weight          int64
dtype: object

In [27]:
testDtaa.columns

Index(['acceleration', 'cylinders', 'displacement', 'horsepower', 'model year',
       'origin', 'weight'],
      dtype='object')

In [38]:
print(testDtaa)

   acceleration  cylinders  displacement  horsepower  model year  origin  \
x           112          8           307         130          70       1

   weight
x    4504

In [ ]:
{'csrfmiddlewaretoken': 'YzXMSk3Xwf1jTsIGFYxEDRXSbP1Dt0R68sDbgcYpJu0nw2tJwT3ntNZMiGiGsGB7', 
'cylinderVal': '3', 
'dispVal': '6',
'hrsPwrVal': '66', 
'weightVal': '445', 
'accVal': '9', 
'modelVal': 'ad4', 
'originVal': '2003'}


['acceleration', 'cylinders', 'displacement', 'horsepower', 'model year',
       'origin', 'weight'],
 
model_input_values = {}
model_input_values['acceleration'] = request.POST.get('accVal')
model_input_values['cylinders'] = request.POST.get('cylinderVal')
model_input_values['displacement'] = request.POST.get('dispVal')
model_input_values['horsepower'] = request.POST.get('hrsPwrVal')
model_input_values['model year'] = request.POST.get('modelVal')
model_input_values['origin'] = request.POST.get('originVal')
model_input_values['weight'] = request.POST.get('weightVal')

In [39]:
modelReload.steps

[('mapper',
  DataFrameMapper(features=[(['cylinders', 'displacement', 'weight',
                              'acceleration', 'model year'],
                             StandardScaler(), {}),
                            (['horsepower'], SimpleImputer(), {}),
                            (['origin'], OneHotEncoder(), {})])),
 ('model', RandomForestRegressor())]

In [41]:
modelReload.named_steps.mapper.transformed_names_

['cylinders_displacement_weight_acceleration_model year_0',
 'cylinders_displacement_weight_acceleration_model year_1',
 'cylinders_displacement_weight_acceleration_model year_2',
 'cylinders_displacement_weight_acceleration_model year_3',
 'cylinders_displacement_weight_acceleration_model year_4',
 'horsepower',
 'origin_x0_1',
 'origin_x0_2',
 'origin_x0_3']